.containerLogin {
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  background: rgb(74,75,80);
  background: radial-gradient(circle, rgba(74,75,80,1) 0%, rgba(6,6,6,1) 100%);
  color: white;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.btnLogin {
  text-align: center;
}
